*{
    box-sizing: border-box;
  
  }
  body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
  }
    .nav {
      overflow: hidden;
      background-color: #ffffff;
      align-items: center;
    /*  box-shadow: 2px 2px 4px;*/
    }
    
    .nav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 18px;
    }
    
    .nav a:hover {
      background-color:rgb(201, 11, 11);
      color: black;
    }
    
    .nav .search {
      margin-right: 10px;
      float: right;
      margin-bottom: 10px;
    }
    
    .nav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: 2px solid bold maroon;
    }
    /* course */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  h1 {
    font-size: 36px;
    font-weight: 600;
  }
  p {
    color: #777;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  .course-col {
    flex-basis: 31%;
    background-color: #9fc7c0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }
  .course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  * {box-sizing:border-box}

  /*Pjesa kurseve-->*/
  .kurset{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 85%;
    height: 50px;
    justify-content: space-between;
    color: rgb(103, 211, 184);
}
.catalog{
  margin-left: 10px;
}
.fotografit{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}
.rubrika{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
}
/*.img{
  width: 100%;
  height: 75%;
  background-size: 100% 100%;
}*/
.views_date{
  width: 250px;
  display: flex;
  justify-content: space-between;
  color: lightgray;
}
-----11
.WEB{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 85%;
  height: 50px;
  justify-content: space-between;
  color: rgb(160, 211, 103);
}
.catalog{
margin-left: 80px;
}
.web{
width: 90%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin-top: 10px;
}
.rubrika{
display: flex;
flex-direction: column;
width: 250px;
height: 200px;
}
.img{
width: 100%;
height: 75%;
background-image: url("c++.png");
background-size: 100% 100%;
}
.views_date{
width: 250px;
display: flex;
justify-content: space-between;
color: lightgray;
}


  <!--Paragrafet-->
  .Paragrafet{
    text-size-adjust: 2px;
  }
 .paragrafi2{
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px; 
 }
 .paragrafi2.h2{
   text-size-adjust: 5;

 }
 .paragrafi2.p2{
  text-decoration-color: #971717;
 }
 .paragrafi3{
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px; 
 }
 .paragrafi3.h3{
   text-size-adjust: 5;

 }
 .paragrafi3.p2{
  text-decoration-color: #971717;
 }
 .paragrafi1{
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px; 
 }
 .paragrafi1.h1{
   text-size-adjust: 5;

 }
 .paragrafi1.p1{
  text-decoration-color: #971717;
 }


footer {
	background-color: black;
	color: #fefefe;
	position: absolute;
	width: 100%;
  
  
  }
  footer .content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 3px;
  }
  
  footer .content p {
	margin-bottom: 3px;
  }
  
  footer .content a {
	text-decoration: none;
	color: #fefefe;
  }
  footer h4{
	font-size: 18px;
	font-weight: 500;
	position: relative;
	color: #fff;
	margin-bottom: 35px;
	position: relative;
  }
  footer h4::before{
	content: '';
	position: absolute;
	bottom: -10px;
	background: orange;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
  }
  
  footer .content a:hover {
	border-bottom: 1px solid #971717;
  }
  
  footer .content h4 {
	margin-bottom: 5px;
	font-size: 19px;
  }
  
  footer {
	text-align: center;
	margin-bottom: 2rem;
  }
  
  
  
  @media (max-width: 767px) {
	footer .content {
	  display: flex;
	  flex-direction: column;
	  font-size: 14px;
	}
  
	footer {
	  position: unset;
	}
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
	footer .content,
	footer {
	  font-size: 14px;
	}
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
	footer {
	  position: unset;
	}
  }
